{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}
{% load like_tag %}
{% load account_tags %}

{% block head %}
 <link rel="stylesheet" type="text/css" href="{% static 'account/css/account.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'blog/css/article.css' %}">
 <script src="{% static 'ajax_utils/js/ajax-post.js' %}"></script>
{% if user_status == 'owner' %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h6 id="loginHelp" class="form-text text-muted"> Max length files 1mb </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <form method="POST" enctype="multipart/form-data" id="change-photo-form" action="{% url 'account:change-photo' profile.login %}">
                {% csrf_token %}
                <label class="btn btn-primary text-center" for="change-photo">
                <input id="change-photo" name="{{ form.user_img.html_name }}" type="file" style="display:none"
                onchange="$('#upload-file-info').html(this.files[0].name)">
                Choice file
                </label>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-header-img" tabindex="-1" role="dialog" aria-labelledby="modal-header-img" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h6 class="form-text text-muted"> Max length files 1mb </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <form method="POST" enctype="multipart/form-data" id="change-head-form" action="{% url 'account:change-head' profile.login %}">
                {% csrf_token %}
              <label class="btn btn-primary text-center" for="change-header">
                <input id="change-header" name="{{ form.user_head.html_name }}" type="file" style="display:none">
                Choice new header
              </label>
          </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% load_navbar user %}
{% endblock %}



{% block user_head %}
{% head_user user_status user profile%}
{% endblock %}



{% block body %}
<div class="row  border">
    <div class="col-sm-12 px-0" style="background-color: #ffffff">
        <div class="card border-light">
            <div class="card-body">
                <div id="my-profile-info">
                {% if profile.get_user_name %}
                    <h5 class="card-text">{{ profile.get_user_name }}</h5>
                    {% else %}
                    <h5 class="card-text">@{{ profile.login }}</h5>
                {% endif %}
                <hr>
                <h6 class="card-text text-muted" style="font-size: 14px;">Data registration: {{ profile.get_user_joined }} </h6>
                {% if profile.date_of_birth %}
                    <h6 class="card-text text-muted" style="font-size: 14px;">Date of birth:  {{ profile.date_of_birth  }} </h6>
                {% endif %}
               {% if profile.current_city %}
                    <h6 class="card-text text-muted" style="font-size: 14px;">Current city: {{ profile.current_city }}  </h6>
                {% endif %}
                    <hr class="py-0 my-0">
                {% if profile.about_me %}
                    {{ profile.about_me }}
                {% endif %}
                </div>
                <form method="POST" style="display:none" data-type="hide_form">
                            {% csrf_token %}
                        <div class="form-group border-bottom">
                            {{ form.user_name }}
                        </div>
                        {{ form.date_of_birth.label }}
                        <div class="form-group border-bottom">
                            {{ form.date_of_birth }}
                        </div>
                        <div class="form-group border-bottom">
                            {{ form.current_city }}
                        </div>
                            {{ form.about_me.label }}
                            {{ form.about_me }}
                     <nav class="navbar fixed-bottom navbar-light bg-primary">
                         <ul class="navbar-nav">
                         <li class="nav-item">
                        <input class=" btn btn-outline-danger text-dark" type="submit"  value="Применить">
                             <a class="btn btn-outline-danger text-dark" data-action="profile-cancel">Отменить</a>
                         </li>
                         </ul>
                    </nav>
                </form>
            </div>
            <div class="card border-light">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">Followers {{ profile.get_user_followers.count }} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">Subscriptions {{ profile.get_user_subscriptions.count }} </a>
                    </li>
                </ul>
            </div>
            {% if user_status == 'owner' %}
                <div class="card  text-center">
                    <div class="card-body py-2 px-0">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Create-post">
                            New Post
                        </button>
                    </div>
                </div>
            {% endif %}
            {% if profile.get_user_articles %}
                    <div id="add-loader">
                    </div>
            {% else %}
                <div class="card text-center">
                    <div class="card-body ">
                        <h5 class="card-title"> {{ profile.login }} nothing posting</h5>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}

{% if user.is_authenticated %}
    <script src="{% static 'like_dislike/js/like.js' %}"></script>
    <script src="{% static 'like_dislike/js/subscribe.js' %}"></script>
{% endif %}

{% if user_status == 'owner' %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="{% static 'ajax_utils/js/delete.js' %}"> </script>
    <script src="{% static 'account/js/account_utils.js' %}"></script>
{% endif %}

{% endblock %}

{% block buttom %}
    <input id="location" value="{{ location }}" type="hidden">
    <script src="{% static 'blog/js/article.js' %}"></script>
    <script src="{% static 'ajax_utils/js/jquery_paginate.js' %}"></script>

{% endblock %}