{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}
{% load like_tag %}
{% load account_tags %}
{% load i18n %}


{% block head %}
 <link rel="stylesheet" type="text/css" href="{% static 'account/css/account.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main_page.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.css">

{% if user_status == 'owner' %}

<div class="modal fade" id="modal-photo-img" tabindex="-1" role="dialog" aria-labelledby="modal-photo-img" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg w-50" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h6  class="form-text text-info"> {{ form.image.help_text }} </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
                <label class="btn btn-primary text-center" for="change-photo">
                <input id="change-photo" data-action="change-profile-image" name="{{ form.image.html_name }}" type="file" style="display:none">
                {% trans "Choice file" %}
                </label>
          <div style="height: 60vh" id="container-change-photo">
          </div>
          <h5 class="text-danger" data-action="change-img-errors" data-type="error-change-photo"></h5>
          <h5 class="text-danger" data-action="change-img-errors" data-type="error-change-header"></h5>
          <div class="modal-footer px-3">
              <button class="btn btn-primary" data-action='change-photo-button' style="display:none"> {% trans "Change" %} </button>
          </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% load_navbar user %}

{% detail_post user %}

{% endblock %}



{% block user_head %}
{% head_user user_status user profile%}
{% endblock %}



{% block body %}
<div class="row">
    <div class="col-sm-12 px-0 " style="background-color: #f4f4f4;">
        <div class="card">
            <div class="card-body pt-2" >
                <div id="my-profile-info">
                    <strong>{% user_online profile.bloguser %} </strong>
                <hr class="mb-2 mt-1">
                    <h6 class="card-text text-muted" style="font-size: 14px;">{% trans "Joined" %}: <a class="text-info">{{ profile.get_user_joined }} </a></h6>
                {% if profile.date_of_birth %}
                    <h6 class="card-text text-muted" style="font-size: 14px;">{% trans "Birth" %}: <a class="text-info"> {{ profile.get_user_birth  }} </a></h6>
                {% endif %}
               {% if profile.country %}
                    <h6 class="card-text text-muted" style="font-size: 14px;">{% trans "Country" %}: <a class="text-info">{{ profile.country.name }}  </a></h6>
                {% endif %}
                    <hr class="pt-1 pb-0 my-0">
                {% if profile.about_me %}
                    {{ profile.about_me }}
                {% endif %}
                </div>
                <form method="POST" style="display:none; " data-type="hide_form">
                            {% csrf_token %}
                        <div class="form-group border-bottom">
                            {{ form.user_name }}
                        </div>
                        {{ form.date_of_birth.label }}
                        <div class="form-group border-bottom">
                            {{ form.date_of_birth }}
                        </div>
                        <div class="form-group border-bottom">
                            {{ form.country.label }}
                            {{ form.country }}
                        </div>
                            {{ form.about_me.label }}
                            {{ form.about_me }}
                     <nav class="navbar fixed-bottom navbar-light bg-primary">
                         <ul class="navbar-nav">
                         <li class="nav-item">
                        <input class=" btn btn-outline-danger text-white" type="submit"  value="Применить">
                             <a class="btn btn-outline-danger text-white" data-action="profile-cancel">Отменить</a>
                         </li>
                         </ul>
                    </nav>
                </form>
            </div>
            <div class="card border-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item px-2">
                        <a class="my_link_profile" data-action="ajax-paginate-btn" data-add="False" data-type="post" data-sort="profile" > {% trans "Posts" %} {{ profile.get_user_articles.count }} </a>
                    </li>
                    <li class="nav-item  px-2">
                        <a class="my_link_profile" data-action="ajax-paginate-btn"  data-type="user" data-sort="followers"> {% trans "Followers" %} {{ profile.get_user_followers.count }} </a>
                    </li>
                    <li class="nav-item  px-2">
                        <a class="my_link_profile" data-action="ajax-paginate-btn"  data-type="user" data-sort="following"> {% trans "Following" %} {{ profile.get_user_people_sub.count }} </a>
                    </li>
                    <li class="nav-item  px-2">
                        <a class="my_link_profile text-muted"> {% trans "Communities" %} </a>
                    </li>
                </ul>
            </div>
        </div>


            <div id="add-loader" class="border-0 col-12">
            </div>

    </div>
</div>


{% endblock %}

{% block action_user %}
{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
    <script src="{% static 'like_dislike/js/like.js' %}"></script>
    <script src="{% static 'like_dislike/js/subscribe.js' %}"></script>
{% endif %}

{% if user_status == 'owner' %}
    <script src="{% static 'delete_app/js/delete.js' %}"> </script>
    <script src="{% static 'account/js/account_utils.js' %}"></script>
{% endif %}
{% endblock %}

{% block buttom %}
{% if init %}
    <input type="hidden" id="init-post" data-id="{{ init }}">
{% endif %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.js"></script>
    <input id="location" value="{{ location }}" type="hidden" data-detail="{{ id_location }}" data-type="{{ type }}" data-start="{{ start_location }}">
    <script src="{% static 'ajax_utils/js/loader_content.js' %}"></script>

{% endblock %}