{% load static %}
{% load like_tag %}

<div class="card" style="width: 18rem;">

      <div class="card-body">
    <h5 class="card-title">Recommend</h5>
{% for user in users %}
          <ul class="nav">
              <li class="nav-item">
                  <div class="card-comm-side-avatar ">
                      <a href="{{ user.get_absolute_url }}"><img class="comm-side-Photo" src="{{ user.image.url }}"></a>
                  </div>
              </li>
              <li class="nav-item">
                  <a href="{{ user.get_absolute_url }}" class="text-dark"> <h6 class="pl-2 pt-2">{{ user.name }}</h6></a>
              </li>
          </ul>
          <hr class="py-0 my-1">
{% endfor %}
      </div>
</div>