{% load humanize %}
{% load static %}


<script src="{% static 'blog/js/article.js' %}"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'blog/css/thread.css' %}">

    {% for article in objs %}

    {{ article.rating }}
<div class="row border article" onclick="detail_article('{{ article.author.username }}', '{{ article.id }}')">
             <div class="col-sm-12 pb-0">

<div class="card border-0">
  <div class="card-body px-1 pt-0  pb-1">
         <ul class="list-inline mb-2">
      <li class="drop-left">
         <img class="mr-2 mt-2 rounded-circle" src="{{ article.author.profile.thumbnail.url }}"  width="30" height="30">
          <a href="{{ article.author.profile.get_absolute_url }}" class="text-dark pt-2">
              <small>{{ article.author.profile.pref_name }}{% if article.thread %} / {{ article.thread }} {% endif %}</small>
          </a>
          <small class="text-muted float-right mt-2" >{{ article.create_data | naturaltime }}</small>
      </li>

   </ul>
    <h6 class="card-text" style="font-size: 15px;">{{ article.text }}</h6>
      {% if  article.image %}
     <img class="img-fluid  rounded" src="{{ article.image.url }}" style="max-height: 485px">
      {% endif %}
      <input type="hidden" id="action-id-article">
  </div>
</div>

<nav aria-label="breadcrumb article">
  <ol class="breadcrumb bg-white mb-0 pt-0">


    <li class="breadcrumb-item"><a style="font-size: 14px;">Comments: {{ article.comment_set.count }} </a></li>
      <li class="breadcrumb-item"><a style="font-size: 14px;"> Views: {{ article.views.count }} </a></li>
    <li class="breadcrumb-item"><a style="font-size: 14px;"> rating </a></li>

  </ol>
</nav>

</div>
</div>

    {% endfor %}








