{% load blog_tags %}
{% load static %}
{% load like_tag %}



{% for community in objs %}
<div class="row border" >
    <div class="col-sm-12 px-0">
            <div class="card border-0 article">

                <div class="card-body pb-1 pt-2" >
                    <div onclick="detail_community('{{ community.name }}')">
                    <ul class="nav">
                        <li class="nav-item">
                         <div class="card-avatar float-right mt-4">
                <a href="{{ community.get_absolute_url }}"><img class="personPhoto" src="{{ community.image.url }}"></a>
                        </div>
                        </li>
                          <li class="nav-item">
                              <a href="{{ community.get_absolute_url }}" class="text-dark"><h5 class="pl-2 pt-2">{{ community.name }}</h5></a>
                            </li>
                        <li class="nav-item">

                        </li>
                    </ul>

                      <small class="card-subtitle mb-2 text-muted">
                          {% if community.sub %}{{ community.sub }}{% else %} ...{% endif %}</small>

                        </div>
                    <a style="font-size: 11px;"> Community: {{ community.my_followers.all.count }}</a>
                    <a style="font-size: 11px;"> / Posts: {{ community.article_set.all.count }}</a>
                    {% if user.is_authenticated %}
                    {% subscribe_html community 'community' user %}
                                    {% endif %}

</div>


</div>

    </div>
</div>
{% endfor %}





