{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load like_tag %}
{% load comment_tags %}
{% load static %}
{% load humanize %}
{% load account_tags %}

{% block head %}
    {% load_navbar user article.category %}
    <script src="{% static 'ajax_utils/js/ajax-post.js' %}"></script>
{% endblock %}


{% block body %}
<div class="row  border" id="wrapper_post-{{ article.id }}">
    <div class="col-sm-12 pb-0" style="background-color: #ffffff" >
        <div class="card border-0">
            <div class="media">
                <div class="media-body">
                    <div class="reply-body">
                        <ul class="list-inline">
                            <li class="drop-left mb-0">
                                <img class="mr-2 mt-2 rounded-circle" src="{% user_image article.author.profile 't' %}"  width="30" height="30">
                                <a href="{{ article.author.profile.get_absolute_url }}" class="text-dark pt-2">
                                    @{{ article.author.profile.name }}
                                </a>
                                <small class="text-muted float-right mt-2" >{{ article.create_data | naturaltime }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-2  pb-1">
                <p class="card-text">{{ article.text }}</p>
                {% if  article.image %}
                <img class="img-fluid  rounded" src="{{ article.image.url }}" style="max-height: 552px">
                {% endif %}
            </div>
        </div>
<hr class="py-0 my-0">
    <ul class="nav">
        <li class="nav-item">
            <a type="button" class="btn border-0 btn-outline-light btn-sm mb-1">
                <img src="{% static 'blog/img/top.png' %}" width="20">
                <span  class="badge badge-light">{{ article.views.count }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" class="btn border-0 btn-outline-light btn-sm mb-1">
                <img src="{% static 'blog/img/comment.png' %}" width="20">
                <span class="badge badge-light">{% count_comments article %}</span>
            </a>
        </li>
        <li class="nav-item">
            {% like_html article 'post' user %}
        </li>

      <li class="nav-item">
            <div class="dropdown">
                <a class="btn btn-outline-light border-0  btn-sm mb-0 pb-0" href="#" role="button" data-toggle="dropdown">
                    <h5 class="text-dark">...</h5>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% if article.author == user %}
                    <a class="dropdown-item btn" data-action="delete_object" data-type="post" data-id="{{ article.id }}">Удалить запись</a>
                        {% endif %}
                    <div class="dropdown-divider"></div>
                </div>
            </div>
      </li>
    </ul>
    </div>
</div>
<br>
<div class="row  border">
    <div class="col-sm-12" style="background-color: #ffffff">
        {% if user.is_authenticated %}
            <div class="form-group mt-2" id="form">
                {{ form_comment.text }}
                {{ form_comment.parent }}
                <input type="hidden" id="name_parent">
                <input id="comment-submit" type="button" class="btn btn-danger" value="Отправить"/>
            </div>
             {% endif %}
                 <hr class="pb-0 mb-0">
                 {% load_comments user object %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block buttom %}
    <script src="{% static 'ajax_utils/js/delete.js' %}"> </script>
    <script src="{% static 'like_dislike/js/like.js' %}"></script>
    <script src="{% static 'comments/js/websocket-comment.js' %}"></script>
{% endblock %}

{% block additional %}
{% endblock %}