{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}

{% block head %}

{% load_navbar user  %}

 <link rel="stylesheet" type="text/css" href="{% static 'blog/css/thread.css' %}">

{% endblock %}



{% block body %}



{% endblock %}


{% block sidebar %}


<div class="card" style="width: 18rem;">

   </div>



<div class="card" style="width: 18rem;">


</div>




{% endblock %}

{% block buttom %}

<input id="location" value="{{ location }}" type="hidden">
<script src="{% static 'ajax_utils/js/jquery_paginate.js' %}"></script>

{% endblock %}