{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}

{% block head %}
{% load_navbar user  %}
{% endblock %}



{% block body %}
<div id="add-loader">

</div>
{% endblock %}


{% block sidebar %}
<div class="col-lg-3 col-sm-4 d-none d-lg-block ml-4">
{% home_sidebar user %}
</div>
{% endblock %}



{% block buttom %}
<input id="location" value="{{ location }}" type="hidden">
<script src="{% static 'ajax_utils/js/loader_content.js' %}"></script>
<script src="{% static 'like_dislike/js/like.js' %}"></script>
<script src="{% static 'delete_app/js/delete.js' %}"> </script>
{% endblock %}