<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% load blog_tags %}
{% bootstrap_messages %}
<html lang="en">
<head>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block head %}
<nav class="navbar navbar-expand-md navbar-light bg-primary sticky-top">
    <a href="/" class="navbar-brand">
<img src="{% static 'blog/img/logo.img' %}" width="35" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



    <div class="collapse navbar-collapse ml-3" id="navbarTogglerDemo02">

          <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                   <a class="nav-link" href="#">Deactiv</a>
              </li>

               <li class="nav-item active">
                   <a class="nav-link" href="#">Active</a>
              </li>

               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
               </li>

        </ul>

           <form class="form-inline my-0 my-lg-0" method="GET">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>
{% endblock %}

{% block body %}




<div class="p-3 mb-2" style="background-color: #f4f4f4">




{% show_category category %}
<div class="container-fluid">
    <div class="container">
        <div class="row text-left">
            <div class="col-lg-6 border offset-md-1" style="background-color: #ffffff" id="add-loader">

            </div>
            <div class="col-lg-3 col-sm-4 d-none d-lg-block border ml-4" style="background-color: #ffffff">
                    <div style="position: fixed">
                        <div class="border">
                            dad
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>






<script src="{% static 'blog/js/jquery_paginate.js' %}"></script>

Ok

    <input type="hidden" id="loader" value="articles">



<p id="obj_loader">{{ category }}</p>

    </div>
{% endblock %}

{% block buttom %}

{% endblock %}

</body>
</html>