<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% bootstrap_messages %}
{% load blog_tags %}
<html lang="en">
<head>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="p-3 mb-2" style="background-color: #f4f4f4">

{% block head %}

{% load_navbar user category %}

{% endblock %}



<div class="container-fluid">

        <div class="row text-left mt-1">
            <div class="col-lg-6  offset-md-1" id="add-loader">
                {% block body %}

                {% endblock %}

            </div>
            {% block sidebar %}
            <div class="col-lg-3 col-sm-4 d-none d-sm-block border ml-4" style="background-color: #ffffff">
                    <div style="position: fixed">
                        <div class="border">
                            sidebar
                        </div>

                </div>
                {% endblock %}

            </div>

        </div>
</div>






{% block buttom %}

<script src="{% static 'blog/js/jquery_paginate.js' %}"></script>
{% endblock %}
 </div>
</body>
</html>