{% load static %}

{% for user in objs %}
<div class="row  border">
    <div class="col-sm-12 px-0" style="background-color: #ffffff">
            <div class="card ">
                <div class="card-body p-3 border-light">
                    <div class="media">
                        <a href="#"><img class="mr-3" src="{% static 'blog/img/logo.img' %}" alt="img"  width="70" height="70"></a>

                         <div class="media-body">
                      <ul class="list-group list-group-flush">

                            <li class="list-group-item border-light p-0">

                                 <a class="card-link"> {{ user.login }} </a>
                                    <a href="#" class="card-link text-right mr-5">Переход куда-нибудь</a>
                            </li>

                             <li class="list-group-item border-light p-0 text-muted"><h6 style="font-size: 14px">Followers: {{ user.get_user_followers.count }} </h6></li>
                          {% if user.about_me %}
                          <li class="list-group-item border-light p-0 ">
                              <h6 style="font-size: 14px">{{ user.about_me }}</h6>
                          </li>
                          {% endif %}
                     </ul>
                </div>
                    </div>
            </div>
    </div>

</div>
</div>
{% endfor %}