{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}

{% block head %}
 <link rel="stylesheet" type="text/css" href="{% static 'blog/css/thread.css' %}">
{% post_form objs %}

{% load_navbar user add_post='False' back_to_treads='True'%}

{% endblock %}


{% block additional %}
{% endblock %}


{% block sidebar %}

<div class="card" style="width: 18rem;">
  <div class="card-body pt-1 ">



<ul class="nav">
    <li class="nav-item">
        <article class="item ml-0">
            <div class="photo">
                <img class="personPhoto" src="{{ objs.image.url }}">
            </div>
        </article>

    </li>

    <li class="nav-item">
        <h5 class="pl-2 pt-2">{{ objs.name }}</h5>
    </li>
</ul>
      Community: {{ objs.participant.count }} {% thread_part user objs %}

  </div>
</div>

    <div class="card" style="width: 18rem;">
        <div class="card-body text-center px-0">
      <a href="{% url 'blog:thread-top' thread %}" class="btn btn-outline-primary{% if location == 'thread/sort/top' %} active{% endif %}">Top</a>
    <a href="{% url 'blog:thread-hot' thread %}" class="btn btn-outline-primary{% if location == 'thread-list/all' %} active{% endif %}">Hot</a>
    <a href="{% url 'blog:thread-new' thread %}" class="btn btn-outline-primary{% if location == 'thread-list/all' %} active{% endif %}">New</a>
        </div>
    </div>

<div class="card p-0" style="width: 18rem;">
        <div class="card-body p-2">
        <div class="card-body border">
        </div>
        </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    {% if user.is_authenticated %}
              <nav class="navbar p-1 ">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Create-post">
                       Create post
                  </button>
              </nav>

     {% else %}
        <h5 class="card-title">Registration</h5>
        <p class="card-text">Registrations </p>
        <a href="{% url 'account:registration' %}" class="btn btn-primary">Registr</a>
     {% endif %}
    </div>
</div>


{% endblock %}