{% load blog_tags %}
{% load static %}
{% load like_tag %}



{% for thread in objs %}
<div class="row border" >
    <div class="col-sm-12 px-0">
            <div class="card border-0 article">

                <div class="card-body pb-1 pt-2" >
                    <div onclick="detail_thread('{{ thread.name }}')">
                    <ul class="nav">
                        <li class="nav-item">
                            <article class="item ml-0">
                                        <div class="photo">
                                        <img class="personPhoto" src="{{ thread.image.url }}">
                                        </div>
                                    </article>

                        </li>

                          <li class="nav-item">
                              <a href="{{ thread.get_absolute_url }}" class="text-dark"><h5 class="pl-2 pt-2">{{ thread.name }}</h5></a>
                            </li>
                        <li class="nav-item">

                        </li>
                    </ul>

                      <small class="card-subtitle mb-2 text-muted">
                          {% if thread.sub %}{{ thread.sub }}{% else %} ...{% endif %}</small>

                        </div>
                    <a style="font-size: 11px;"> Community: {{ thread.my_followers.all.count }}</a>
                    <a style="font-size: 11px;"> / Posts: {{ thread.article_set.all.count }}</a>
                    {% if user.is_authenticated %}
                    {% subscribe_html thread 'thread' user %}
                                    {% endif %}

</div>


</div>

    </div>
</div>
{% endfor %}





