{% load blog_tags %}
{% load static %}

<script src="{% static 'blog/js/article.js' %}"></script>


{% for thread in objs %}
<div class="row border article" onclick="detail_thread('{{ thread.name }}')">
    <div class="col-sm-12 px-1">
            <div class="card border-0">

                <div class="card-body pb-2 pt-2">

                    <ul class="nav">
                        <li class="nav-item">
                            <article class="item ml-0">
                                        <div class="photo">
                                        <img class="personPhoto" src="{{ thread.image.url }}">
                                        </div>
                                    </article>

                        </li>

                          <li class="nav-item">
                              <h5 class="pl-2 pt-2">{{ thread.name }}</h5>
                            </li>
                    </ul>

                      <small class="card-subtitle mb-2 text-muted">
                          {% if thread.sub %}{{ thread.sub }}{% else %} ...{% endif %}</small><br>

                     <a style="font-size: 11px;"> Community: {{ thread.participant.count }}</a>
                    <a style="font-size: 11px;"> / Posts: {{ thread.article_set.all.count }}</a>
                           {% if user.is_authenticated %}
                     {% thread_part user thread %}
                     {% endif %}
</div>
</div>
    </div>
</div>
{% endfor %}





