{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}

{% block head %}

{% load_navbar user  %}

 <link rel="stylesheet" type="text/css" href="{% static 'blog/css/thread.css' %}">

{% endblock %}



{% block body %}



{% endblock %}


{% block sidebar %}


<div class="card" style="width: 18rem;">
   <div class="card-body text-center">
      {% if user.is_authenticated %}
      <h5 class="card-title">Create community</h5>
       <a href="{% url 'blog:create_thread' %}" class="btn btn-danger">GO!</a>
           {% else %}
           <h5 class="card-title">Registration</h5>
           <a href="{% url 'account:registration' %}" class="btn btn-danger">GO!</a>
            {% endif %}
   </div>
</div>


<div class="card" style="width: 18rem;">
  <div class="card-body text-center">
      <a href="{% url 'blog:threads-top' %}" class="btn ml-1 btn-outline-primary{% if location == 'thread-list/top' %} active{% endif %}">Top thread</a>
    <a href="{% url 'blog:threads-new' %}" class="btn mr-1 btn-outline-primary{% if location == 'thread-list/all' %} active{% endif %}">New threads</a>


</div>

     <div class="input-group mb-0">
  <input id="search-form-ajax" type="text" class="form-control" placeholder="Search thread" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
      <input type="hidden" value="{{ search_loc }}" id="search-ajax">
    <button class="btn btn-outline-secondary" type="button" id="search-form-ajax-btn">Go!</button>
  </div>
</div>
</div>

{% endblock %}

{% block buttom %}
<script src="{% static 'ajax_utils/js/search.js' %}"></script>
<input id="location" value="{{ location }}" type="hidden">
<script src="{% static 'ajax_utils/js/jquery_paginate.js' %}"></script>

{% endblock %}