{% load static %}
{% load like_tag %}

<div class="container-fluid">
   <div class="row" style=" background: {% if not profile.user_head %} #f442a4 {% else %} url('{{ profile.user_head.url }}') {% endif %};background-repeat: no-repeat;background-size: cover; max-height: 200px;">
        <div class="col-lg-6  offset-md-1">

            </div>
                <div class="col-lg-3 col-sm-4 d-none d-lg-block ml-4 pt-4">
                    <div class="card" style="width: 18rem;">
                        {% if user_status == 'owner' %}
                            <div class="dropdown">
                                <div id="photo-change" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">Change photo </button>
                                </div>
                            </div>
                            <div  id="holder-image">
                                <img class="card-img-top img-rounded" src="{{ profile.user_img.url }}" id="user-image">
                                <div id="block-image" class="text-center">
                                    <button data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-link" style="padding-top: 150px;">Change photo</button>
                                </div>
                            </div>
                        {% else %}
                        <img class="card-img-top img-rounded" src="{{ profile.user_img.url }}">
                        {% endif %}
                        <div class="card-body pt-0  px-1">
                            <ul class="list-group list-group-flush mt-2">
                                <li class="list-group-item pt-0 pl-1 border-light">
                                    <h4 class="card-link">@{{ profile.login }}</h4>
                                </li>
                                {% if user_status == 'owner' %}
                                    <li class="list-group-item pt-2">
                                        <a type="button" class="btn btn-primary" data-action="edit-profile-show">Edit profile</a>
                                    </li>
                                {% endif %}
                                {% if user_status == 'user' %}
                                    <li class="list-group-item">
                                        <a href="{% url 'chat:dialog' profile.login %}" class="btn btn-primary " role="button">Send message</a>
                                    </li>
                                    <li class="list-group-item">
                                        {% subscribe_html profile.bloguser 'user' user %}
                                    </li>
                                {% endif %}
                            </ul>
                    </div>
                </div>
            </div>
    </div>
     <div class="row" style="display: none;" id="header_user">
         <div class="col-lg-6  offset-md-1 text-center bg-white border">
                <div >
                    <button data-toggle="modal" data-target="#modal-header-img" type="button" class="btn btn-outline-danger btn-sm" >Change photo</button>
                </div>
         </div>
         </div>
</div>
