{% load humanize %}
{% load static %}
{% load comment_tags %}

<div class="card border-0" id="comment-{{ comment_id }}">

    {% if is_active %}
    <ul class="list-inline mb-0">
        <li class="drop-left">
            <button class="btn-outline-light border-0 dropdown-toggle  float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'blog/img/images.png' %}" width="20" height="20">
            </button>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if del %}
            <a class="dropdown-item btn" data-action="delete_object" data-type="comment" data-id="{{ comment_id }}">Удалить</a>
            {% endif %}
        </div>

            {% if parent_id %}
                {% get_comm_img comment_id parent_id %}
            {% else %}
                {% get_comm_img comment_id %}
            {% endif %}

        </li>
    </ul>


    <div class="card-body py-0">
        <h6 class="ml-0 pl-0 py-0 my-0"  style="font-size: 14px; font-family: Arial"> {{ text }} </h6>
        <ul class="nav">
            <li class="nav-item">
                 {% if user.is_authenticated %}
                    <a type="button" class="btn btn-link pl-0 pb-0" href="#comment-answer-{{ initial }}"
                       data-action="answer" data-name="{{ author }}" data-id="{{ comment_id }}" data-initial="{{ initial }}" style="font-size: 12px">Ответить</a>
                 {% endif %}
            </li>
             <li class="nav-item">
                <a  class="nav-link text-muted pl-0 ml-0 pb-0"  style="font-size: 12px"> {{ create_data | naturaltime }}</a>
             </li>
        </ul>
    </div>
    {% else %}
        <div class="card-body pb-0">
    <h5 class="card-title text-info">Комментарий удален</h5>
            <ul class="nav">
                <li class="nav-item">
                    <a  class="nav-link text-muted pt-0"  style="font-size: 12px"> {{ create_data | naturaltime }}</a>
                </li>
        </ul>

        </div>
    {% endif %}
</div>


