{% extends "blog/MainPage.html" %}

{% block head %}
{% endblock %}

{% block body %}


<div class="card text-center">
  <div class="card-header">
    Из-за подозрительных действий мы заблокировали ваш ip-адресс
  </div>
  <div class="card-body">
    <p class="card-text">Вы сможете войти в аккаунт через 15 минут или воспользоваться авторизацией через социальные сети</p>
  </div>
</div>

{% endblock %}


{% block sidebar %}
{% endblock %}

{% block event_hidden %}
{% endblock %}


{% block buttom %}
{% endblock %}