{% extends "blog/MainPage.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block body %}


<div class="card text-center">
  <div class="card-header">
    {% trans "Due to suspicious actions, we have blocked your ip-address" %}
  </div>
  <div class="card-body">
    <p class="card-text">{% trans "You will be able to log in to your account after 15 minutes or use authorization through social networks." %}</p>
  </div>
</div>

{% endblock %}


{% block sidebar %}
{% endblock %}

{% block event_hidden %}
{% endblock %}


{% block buttom %}
{% endblock %}