{% extends "blog/MainPage.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
 <script src="{% static 'ajax_utils/js/ajax-post.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row  pt-5 mt-0 ">
    <div class="col-sm-12 border" style="background-color: #ffffff; height: 400px">
    <p><a class="btn" href="{% url 'myauth:login' %}"> < Login</a></p>
    <button class="btn btn-link mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {% trans "Did not receive a letter with a link to account activation?" %}
    </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <div id="body-activate-email">
     <div class="form-group">
         <label for="id_email">
             {% trans "Enter the email to which your account was registered, we will send you a new letter to activate" %}
         </label>
         {{ form.email }}
                 <button class="btn btn-primary mt-3" id="send-activate">{% trans "Send" %}</button>
         </div>
      <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LenZoQUAAAAAC5tKBi0fHFZaZnpADswyZcqEEqE"></div>
          </div>
      </div>
      <small id="error-captcha" data-type="error" class="form-text text-danger"></small>
      <small id="error-email" data-type="error" class="form-text text-danger"></small>
      <small id="info-success"  class="form-text text-success"></small>

  </div>
</div>
        <hr class="my-0">
    </div>
</div>

{% endblock %}


{% block sidebar %}
{% endblock %}

{% block event_hidden %}
{% endblock %}


{% block buttom %}
 <script src="{% static 'myauth/js/help.js' %}"></script>
{% endblock %}