{% extends "blog/MainPage.html" %}
{% load blog_tags %}
{% load static %}


{% block head %}
{% load_navbar user id_dialog=dialog.id %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main_page.css' %}">
{% endblock %}



{% block body %}
<button class="btn btn-outline-success" id="button-dialogs-loader">Load</button>
<div class="card border-light" id="message-list" data-id="{{ dialog.id }}">


</div>

<div class="row border">
    <div class="col-sm-12 px-0" style="background-color: #ffffff">

<div class="form-group p-3">
   <ul class="list-inline mb-2 pb-2">
       <li class="text-center">
            <strong>
                <a href="{{ dialog.from_user.get_absolute_url }}">{{ dialog.from_user }}</a> -
                <a href="{{ dialog.to_user.get_absolute_url }}">{{ dialog.to_user }}</a>
            </strong>
            </li>
 </ul>

{{ form.text }}
<input class="btn btn-primary mt-3" id="send-message" onclick="" type="submit" value="Send"/>
</div>
{% endblock %}
    </div>
</div>



{% block sidebar %}
{% endblock %}




{% block buttom %}
<input type="hidden" value="{{ status }}" id="status_dialog">
<input type="hidden" value="{{ dialog.id }}" id="id_dialog">
<script async src="{% static 'ajax_utils/js/loader_message.js' %}"></script>
<script async src="{% static 'chat/js/websocket_chat.js' %}"></script>
{% endblock %}

