{% load static %}
{% load chat_tags %}
{% load cache %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">


<div class="card border-0" id="All-dialogs">
{% for dialog in objs %}
  {% if dialog.message_set.all %}
     {% with message=dialog.message_set.first %}
    {% cache 500 dialog message.id %}
        <div id="wrapper-dialog{{ dialog.id }}">
            <div class="row  border-0">
                <div class="col-sm-12 px-0" style="background-color: {% color_dialog message.author.username user.username message.readed %}">
                    <div  class="dialogs-list-action" onclick="open_dialog('{{ dialog.id }}')">
                        <div class="media border-bottom border-light pt-2" id="test">
                            <div class="media-body">
                                <small class="text-muted float-right mb-0">{{ message.data_publish }}</small>
                                {% chat_image message.author.username message.to_ %}
                                <h6 class="pt-0 pl-3" style="font-size: 14px;">{{ message.text|truncatechars:140 }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endcache %}
    {% endwith %}
      </div>

  {% endif %}

    <hr class="py-0 my-0">
{% endfor %}
</div>

