{% load static %}
{% load chat_tags %}


<div class="row  border-0">
    <div class="col-sm-12 px-0">
<div  class="dialogs-list-action"
      {% if add %}
      style="background-color: #f4f2f9"
      onclick="open_dialog('{{ id_dialog }}')"
      {% else %}
      style="background-color: #ffffff"
      {% endif %}>

<div class="media border-bottom border-light pt-2" id="test">

    <div class="media-body">
        <small class="text-muted float-right mb-0 pr-2">{{ data_publish }}</small>
            {% chat_image name_author to %}
                <h6 class="pt-0 pl-3" style="font-size: 14px;">{{ text }}</h6>
        </div>
    </div>
</div>
    </div>
</div>
