{% extends "blog/MainPage.html" %}
{% load static %}
{% load i18n %}

{% block user_head %}
{% endblock %}


{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{% static 'ajax_utils/js/ajax-post.js' %}"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light border mb-0 pb-0 sticky-top">
          <a href="/" class="navbar-brand">
            <img id="link_to_main-page" src="{% static 'blog/img/logo-mini.png' %}" style="max-height:45px">
        </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-2 nav-tabs border-0">
      <li class="nav-item px-2">
        <a class="my_link py-2"     data-type="about" data-action="info-page">About</a>
      </li>

      <li class="nav-item px-2">
        <a class="my_link  py-2"     data-type="help" data-action="info-page">Help</a>
      </li>

        <li class="nav-item active px-2">
            <a class="my_link  py-2" data-type="privacy_policy" data-action="info-page">Privacy policy</a>
      </li>
        <li class="nav-item px-2 ">
        <a class="my_link  py-2"  data-type="contacts" data-action="info-page">Contacts</a>
      </li>
      <li class="nav-item px-2 ">
        <a class="my_link  py-2"  data-type="support" data-action="info-page">Support</a>
      </li>
    </ul>
  </div>
  {% if not user.is_authenticated %}
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'myauth:login' %}">Login</a>
        </li>
    </ul>
    {% endif %}
</nav>


<div class="modal fade" id="info-container"  tabindex="-1" role="dialog" aria-labelledby="info-container" aria-hidden="true">
  <div class="modal-dialog modal-lg w-50  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pb-1 pt-1">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body pt-2 pb-0" id="modal-info">




      </div>
      <div class="form-group pl-2" id="info-email-captcha" style="display:none">
                <div class="g-recaptcha" data-sitekey="6LenZoQUAAAAAC5tKBi0fHFZaZnpADswyZcqEEqE"></div>
         <a data-id="captcha-error" class="text-danger"></a>
          </div>


    </div>
  </div>
</div>




{% get_current_language as LANGUAGE_CODE %}
<div id="body-info" data-language="{{ LANGUAGE_CODE }}" data-id="{{ url }}">


</div>




{% endblock %}

{% block sidebar %}
{% endblock %}

{% block event_hidden %}
{% endblock %}


{% block buttom %}
<script src="{% static 'info/js/info.js' %}"></script>
{% endblock %}