{% load humanize %}
{% load static %}
{% load like_tag %}

<div  {% if not obj.readed %} class="card border-0 article notread" {% else %}  class="card border-0 article" {% endif %}>
  <div class="card-body px-1 py-1" >
      <ul class="list-inline mb-2">
          <li class="drop-left">
              <img class="mr-2 mt-2 rounded-circle" src="{{ from_user.profile.thumbnail.url }}"  width="30" height="30">
              <a class="text-dark" href="{{ from_user.get_absolute_url }}">@{{ from_user }}</a>
              <a style="font-size: 14px;" >оставил комментарий к вашему посту</a>
          </li>
        <li class="drop-left pl-5">
          <a href="{{ comm.article.get_absolute_url }}" >
            <h6 class="card-text" style="font-size: 14px;">{{ comm.text|truncatechars:120  }}</h6>
          </a>
        </li>
      </ul>


<div class="card border-1">
  <div class="card-body pt-0  pb-1">

         <ul class="list-inline mb-2">
      <li class="drop-left">
         <img class="mr-2 mt-2 rounded-circle" src="{{ comm.article.author.profile.thumbnail.url }}"  width="25" height="25">
          <a href="{{ post.author.profile.get_absolute_url }}" class="text-dark pt-2">
              <small>{{ comm.article.author.profile.pref_name }}</small></a>
          {% if comm.article.thread %}
          <a href="{{ comm.article.thread.get_absolute_url }}" class="text-dark"><small>/ {{ comm.article.thread }}</small></a>
          {% endif %}

          <small class="text-muted float-right mt-2" >{{ comm.article.create_data | naturaltime }}</small>
      </li>

   </ul>
      <div>
      {% if comm.article.text %}
    <h6 class="card-text" style="font-size: 13px;">{{ comm.article.text|truncatechars:50  }}</h6>
      {% endif %}
      {% if  comm.article.image %}
     <img class="img-fluid  rounded" src="{{ comm.article.image.url }}" style="max-height: 110px">
      {% endif %}
        </div>

  </div>

</div>
    {{ obj.read }}
  </div>
</div>

<hr class="py-0 my-0">
