{% load i18n %}

{% if event == 'post' %}
<div class="row border py-1 border-0">
    <div class="col-sm-12 pb-0 px-0 border">
        <div class="card border-0 article">
<div class="card">
    <div class="card-body">
        <h6 class="card-title" style="font-size:14px" >{% trans "Post was deleted" %}</h6>
        <a style="font-size:12px" class="btn btn-primary btn-sm" data-action="return_object" data-type="{{ event }}" data-id="{{ id }}">
           {% trans "You can restore it" %}
        </a>
    </div>
</div>
    </div>
</div>
</div>
{% else %}
<div class="card py-1">
    <div class="card-body">
        <a style="font-size:12px">{% trans "Comment was deleted" %}</a><a style="font-size:12px" class="btn text-primary" type="button" data-action="return_object" data-type="{{ event }}" data-id="{{ id }}">
           {% trans "You can restore it" %}
        </a>
    </div>
</div>
{% endif %}
