{% load account_tags %}
{% load i18n %}

<ul class="nav ml-2 pb-1  pt-0">
              <li class="nav-item pt-0">
                    <div class="card-avatar_com mt-0">
                        <a href="{{ author.author.get_absolute_url }}"><img class="personPhoto_com" src="{% user_image author.author.profile 't' %}"></a>
                    </div>
              </li>
               <li class="nav-item">
                    <a class="nav-link pl-2 pr-2 pb-1" href="{{ author.author.get_absolute_url }}" style="font-size: 14px;">{{ author.author.username}} </a>
               </li>
                {% if parent %}
                <li class="nav-item">
                    {% if parent.is_active %}
                    <a data-action="parent-color"  data-id="{{ parent.id }}" class="nav-link text-info" href="#comment-{{ parent.id }}" style="font-size: 13px;"> {% trans "replied" %} {{ parent.author.username }}</a>
                    {% else %}
                        <a class="nav-link text-muted" style="font-size: 13px;"> {% trans "replied" %} {{ parent.author.username}}</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <div class="card-avatar_to mt-0">
                        <a href="{{ parent.author.get_absolute_url }}"><img class="personPhoto_to" src="{% user_image parent.author.profile 't' %}"></a>
                    </div>
                </li>
                {% endif %}
</ul>