{% load static %}

<div>

    <div id="answer"></div>
<script src="{% static 'comments/js/answer_comment.js' %}"> </script>


<div id="comments-list">
{% for c in comments %}
<div class="row  border">
    <div class="col-sm-12" style="background-color: #ffffff">
        <div class="media">
            <a href="#"><img class="mr-3" src="../img" alt="img"></a>
            <div class="media-body">
                <a name="{{ c.get_absolute_url }}"></a>
                <h5 class="mt-0"> {{ c.text }} </h5>

                <p><input type="button" value="Answer" onclick="Answer({{ c.id }}, '{{ c.author.username }}')"></p>

            </div>
        </div>
    </div>
</div>
{% endfor %}
    </div>
 </div>
